# dependencias
node_modules/

# next.js
.next/
out/
next-env.d.ts

# producción
build/
dist/

# entorno
.env
.env.local
.env*.local

# logs
npm-debug.log*
*.log

# misc
.DS_Store
*.tsbuildinfo

# prisma
prisma/*.db

# tests
coverage/
playwright-report/
test-results/
.gen-renders.mjs
.shot-case.mjs
.shot-camaras.mjs
